.github-icon {
  margin-left: 12px;
  margin-top: 12px;
  color: black;

  &:hover {
    color: #667683;
  }
}

// this is actually a button
.info-icon {
  background: transparent;
  border: none;
  margin-left: 6px;
  color: black;

  &:hover {
    cursor: pointer;
    color: #667683;
  }
}

.interaction-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;

    @main-width: 430px;

    label {
      display: none;
    }

    .spinner-search {
      height: 16px;
      width: 32px;
      position: fixed;
      top: -50px;
      height: 32px;
    }

    .search-container {
      display: flex;
      align-items: center;

      .input-search {
        position: relative;
        top: 15px;
        left: -31px;
        z-index: -1;
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        background-color: #14171a;
        color: transparent;
        box-sizing: border-box;

        &::selection {
          color: #1d4f85;
        }
      }

      .input-search::placeholder {
        color: transparent;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
      }

      .input-search:focus::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      .btn-search {
        position: relative;
        top: 15px;
        left: 26px;
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        right: 0px;
        color: white;
        background-color: transparent;
        pointer-events: painted;
      }

      .btn-search:focus {
        margin-right: 40px;
        transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
      }

      .btn-search:focus ~ .input-search::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      .btn-search:focus ~ .input-search {
        width: @main-width;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.678);
        transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
        color: rgba(255, 255, 255, 0.7);
      }

      .input-search:focus {
        width: @main-width;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
        margin-left: 40px;
        color: white;
      }

      @media screen and (max-width: 600px) {
        @main-width: 225px;
        .btn-search:focus ~ .input-search {
          width: @main-width;
        }
        .input-search:focus {
          width: @main-width;
          margin-right: 20px;
        }
      }
    }
  }

  .search-results {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
    height: 0;
    visibility: hidden;
    transition: all 750ms cubic-bezier(0, 0.11, 0.35, 2);
    .message {
      background-color: rgb(53, 53, 53);
      padding: 8px;
      margin: 0px 16px;
      border-radius: 8px;
    }

    .message.error {
      background-color: rgb(150, 81, 81);

      &::before {
        content: "⛔ ";
      }
    }

    .message.info {
      background-color: #345e8b;

      &::before {
        content: "ⓘ ";
      }
    }

    .search-result {
      display: flex;
      align-items: center;
      background: #14171a;
      padding: 2px 12px;
      margin: 0px 16px;
      border-radius: 6px;
      gap: 4px;
      transition: all 500ms cubic-bezier(0, 0.11, 0.25, 1.5);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      .search-term {
        background: rgba(255, 255, 0, 0.801);
        color: white;
        border-radius: 32px;
        margin: 6px 4px;
        padding: 5px;
        font-weight: bold;
      }

      .status-term {
        background: rgba(41, 41, 41, 0.801);
        color: white;
        border-radius: 32px;
        margin: 6px 4px;
        padding: 5px;
        font-weight: bold;
      }
    }

    &:not(:empty) {
      visibility: unset;
      height: 65vh;
      overflow-y: auto;
    }
  }
}
