<a href="https://github.com/GitPaulo/findcomms">
  <mat-icon
    class="github-icon"
    svgIcon="github"
    aria-hidden="false"
    aria-label="Example thumbs up SVG icon"
  ></mat-icon>
</a>
<button class="info-icon" (click)="openInfoDialog()">
  <mat-icon>informational</mat-icon>
</button>
<div class="interaction-container">
  <div class="search-box">
    <mat-spinner
      class="spinner-search"
      *ngIf="loading"
      [diameter]="32"
      [color]="'accent'"
    ></mat-spinner>
    <div class="search-container">
      <label for="search-box"> Search Input </label>
      <button class="btn-search" (click)="focusInput()" mat-button>
        <mat-icon>search</mat-icon>
      </button>
      <input
        #searchInput
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        (click)="focusInput()"
        type="text"
        class="input-search"
        [placeholder]="searchPlaceholder"
        (ngxInputSearch)="searchTrigger($event)"
      />
    </div>
  </div>
  <div class="search-results">
    <ng-container *ngIf="results$ | async as results">
      <div class="info message" *ngIf="results?.users?.length === 0">
        No results.
      </div>
      <div class="error message" *ngIf="error">{{ error }}</div>
      <ng-container *ngFor="let user of results?.users">
        <div class="search-result" (click)="gotoTwitterProfile(user)">
          <div
            [matTooltip]="getProfile(user)"
            matTooltipPosition="above"
            matTooltipHideDelay="500"
          >
            {{ user.name }}
          </div>
          <span
            class="search-term"
            *ngFor="let term of getTerms(results.terms, user.id)"
          >
            {{ term }}
          </span>
          <span
            *ngIf="results.statuses[user.id]"
            [ngStyle]="{
              'background-color':
                results.statuses[user.id] === 'closed'
                  ? '#f54d4d'
                  : results.statuses[user.id] === 'open'
                  ? '#6fd36f'
                  : '#8d8181'
            }"
            class="status-term"
          >
            {{ results.statuses[user.id] || "unknown" }}
          </span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
